<div class="brands-wrapper">

    <ng-component>
        
  '  </ng-component>
    <label for="#brands">Marken
        <select (change)="handleSelectChangeForBrand($event)" name="" id="brands">
            <option *ngFor="let brand of carBrands "> {{ brand }} </option>
        </select>
    </label>'

    
    <label for="#model">Serien
        <select [disabled]="!selectedCarBrand || selectedCarBrand === 'Beliebig'" id="modal">
            <option *ngFor="let series of carSeriesBasedOnSelectedBrand"> {{ series.seriesId }}</option>
        </select>
    </label>

    <label for="#variants">Varianten
        <select name="" id="variants">
            <option></option>
        </select>
    </label>


    <label for="#seatsAmount">Sitze
        <select name="" id="seatsAmount">
            <option value=""></option>
        </select>
    </label>

</div>
<!-- <div *ngIf="!brandFilter" class="models-wrapper">models</div> -->
