<div class="brands-wrapper">

    <ng-component>
        
    </ng-component>
    <label for="#brands">Marken
        <select name="" id="brands">
            <option value=""></option>
        </select>
    </label>

    <label for="#model">Serien
        <select name="" id="modal">
            <option value="{car.id}"></option>
        </select>
    </label>

    <label for="#variants">Varianten
        <select name="" id="variants">
            <option value=""></option>
        </select>
    </label>

    <label for="#seatsAmount">Sitze
        <select name="" id="seatsAmount">
            <option value=""></option>
        </select>
    </label>


</div>
<!-- <div *ngIf="!brandFilter" class="models-wrapper">models</div> -->
