<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Bild</th>
      <th scope="col">Bezeichnung</th>
      <th scope="col">Datum</th>
      <th scope="col">Tank</th>
      <th scope="col">Verbrauch</th>
      <th scope="col">Getriebe</th>
      <th scope="col">PS</th>
      <th scope="col">Preis</th>
      <th scope="col">Sitze</th>
      <th scope="col">Ort</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.id}}</td>
      <td><img src="{{ car.image }}" alt="" width="50"></td>
      <td>{{ car.details.brand }} {{ car.details.series }} {{ car.details.variant }} {{ car.details.modifications }} {{ car.details.model }}</td>
      <td>{{ car.details.yearOfConstruction | date:'dd.MM.yyyy' }}</td>
      <td>{{ car.details.fuelType }} l</td>
      <td>{{ car.details.fuelConsumptionRateInLiter }} l/100km</td>
      <td>{{ car.details.transmissionType }}</td>
      <td>{{ car.details.horsePower }} PS</td>
      <td>{{ car.details.price }}</td>
      <td>{{ car.details.seatsAmount }}</td>
      <td>{{ car.details.placeOfRental }}</td>
    </tr>
  </tbody>
</table>
