<div id="container">
<nav>
        <li><a href="#"> Information seite </a></li>
        <ul>
        <li><a href="#">Über uns</a>
         <a href="#">Gründer</a>
         <a href="#">Geschichte</a>
         <a href="#">Standorte</a>
        </ul>
        <main> <router-outlet></router-outlet></main>
            
                
        
    
    
 
</nav>
<h1> Herzlich willkommen bei Cars4You Autovermietung! </h1>
<br>
<br>
<p> </p>
<p> Wir sind eine führende Autovermietung mit Standorten in Hamburg,</p>
<p> Berlin ,Hamburg  und Bremen.</p>

<p> Unser Ziel ist es, unseren Kunden die beste Auswahl an </p><p> und den besten Kundenservice zu bieten.</p>
<br>
<p>Bei Cars4You finden Sie eine breite Palette </p>
<p> von Fahrzeugen jeder Klasse, von </p> 
<p>Stadtautos bis hin zu geräumigen SUVs und luxuriösen Limousinen.</p>
<p> Egal, ob Sie ein Auto für eine </p><p>äftsreise, einen Familienurlaub oder ein Wochenende </p>
<p> der Stadt benötigen, wir haben das </p><p> Fahrzeug für Sie.</p>
<br>
<p>
Wir legen großen Wert auf die Qualität unserer </p><p> Fahrzeuge und stellen sicher, dass jedes Auto in</p>
<p>einwandfreiem Zustand und regelmäßig gewartet wird.</p> <p> Unsere Fahrzeuge sind mit den neuesten </p><p> Sicherheits- und Komfortfunktionen ausgestattet, um </p><p>Ihre Fahrt so angenehm <p> und sicher wie möglich zu gestalten.</p>
<br>


<p>
Unser Team von freundlichen</p><p> und erfahrenen Mitarbeitern steht Ihnen </p> <p> jederzeit zur Verfügung, um Ihnen bei der</p><p>
   Auswahl des richtigen Fahrzeugs</p><p> und der Planung Ihrer Reise zu helfen.</p><p> Wir sind stolz </p><p> unseren Kunden den besten Kundenservice</p><p> zu bieten und garantieren Ihnen eine </p><p> stressfreie und angenehme Erfahrung</p><p> bei der Anmietung eines Autos.</p> <br>
   <p>

Wir bei Cars4You  </p><p> sind , unseren Kunden die beste Autovermietungserfahrung</p><p> zu bieten und freuen</p><p> uns,Ihnen bei Ihrer nächsten Reise</p> <p>zu helfen.</p><p> Kontaktieren Sie uns  </p><p> noch, um Ihre Reservierung zu machen!



</p>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>