h1{
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	width: 70%;
	margin: 1em auto; 
	display:flex;
	align-items:center;
	justify-content:center;
	color: #fff;
	

	
}

.media li {

	grid-template-columns: 17em 1fr;
	grid-template-rows: 2em 3em;
	gap: 6em;
	margin-bottom: 1em;
	color: #fff;
	
	width: 70%;
	margin: 1em auto; 
	display:flex;
	align-items:center;
	justify-content:center
}

 li img {


	margin: 1em auto; 
	display:flex;
	align-items:center;
	justify-content:center
}
li {

	grid-template-columns: 17em 1fr;
	grid-template-rows: 2em 3em;
	gap: 6em;
	margin-bottom: 1em;
	color: #fff;
	
	width: 70%;
	margin: 1em auto; 
	display:flex;
	align-items:center;
	justify-content:center
}

li img {

	width: 36em;
	width: 30%;
	margin: 1em auto; 
	display:flex;
	align-items:center;
	justify-content:center
}