<body>
    <div class="checkout-container">
        <div class="checkout-header">
            <a href="#silde-distance">Streckenwahl</a>
            <a href="#slideinsurance">Versicherung</a>
            <a href="#extras">Extras</a>
            <a href="#checkout">Kasse</a>
        </div>
        <div class="checkout-slides">
            div.distamve
        </div>
    </div>   
</body>
<div class="progress-checkout-container">
    <div class="progress-step-container">
        <div class="step-check">
            <span class="step-title">Streckenauswahl</span>
        </div>
    </div>
    <div class="progress-step-container">
        <div class="step-check">
            <span class="step-title">Versicherungsschutz</span>
        </div>
    </div>
    <div class="progress-step-container">
        <div class="step-check">
            <span class="step-title">Extras</span>
        </div>
    </div>
    <div class="progress-step-container">
        <div class="step-check">
            <span class="step-title">Vorschau & Buchen</span>
        </div>
    </div>

    <div class="form-container">
        <h2 class="form-title">Streckenauswahl</h2>
        <form action="" class="checkout-form">
            
        </form>
    </div>
</div>